.menu-items {
    position: relative;
    font-size: 14px;
    margin-right: 10px;

    .item-name {
        height: 100%;
        width: 100%;
        cursor: auto;

        &:hover {
            background-color: lightgray;
        }
    }

    .item-sub-menu {
        position: absolute;
        right: 0;
        left: auto;
        box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
          0 4px 6px -2px rgba(71, 63, 79, 0.16);
        z-index: 999;
        min-width: 10rem;
        padding: 0.5rem 0;
        list-style: none;
        border-radius: 0.5rem;
    }

    .right-sub-menu {
        position: absolute;
        left: 100%;
        top: -7px;
    }
}